.text-content {
  width: 50%;
}
.text-content h1 {
  margin-left: 0;
  margin-bottom: 4rem;
}
.text-content p {
  margin-bottom: 3rem;
  margin-right: 4rem;
}
.images {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  margin-top: 9.5rem;
  width: 50%;
}
.images img {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  }
  .text-content h1 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3rem;
  }
  .text-content {
    width: 100%;
  }
  .text-content p {
    margin-bottom: 1rem;
    margin-right: 0;
    margin-left: 1rem;
  }
  .images {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
  }
  .contact-btn {
    display: none;
  }
  .images img {
    width: 5rem;
    height: 5rem;
    border-radius: .5rem;
    margin: 0.5rem;
  }
}
