main {
  flex-direction: column;
  margin: auto;
  text-align: left;
}
.blog-header {
  display: flex;
  align-items: center;
}
.blog-header h1 {
  width: 50%;
  margin-left: 0;
}
.blog-header p {
  width: 50%;
  text-align: center;
}
.blog-posts {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
.blog-post {
  display: block;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.288);
}
.blog-post h2 {
  margin-top: 1rem;
}
.blog-post h3 {
  font-style: italic;
  font-size: .9rem;
}
.blog-post h3::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.288);
  margin-top: 1rem;
}
.blog-post img {
  display: block;
  max-width: max-content;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 2rem;
  border: solid 1px rgba(247, 247, 247, 0.808);
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  }
  .blog-header {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: flex-start;
  }
  .blog-header h1 {
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 2rem;
  }
  .blog-header p {
    width: 100%;
    text-align: left;
  }
  .blog-posts {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 1rem;
  }
  .blog-post {
    display: block;
    margin: 1rem;
    margin-left: 0;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.288);
  }
}
