main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    height: 80vh;
    text-align: left;
    
}
.blog-header {
    display: flex;
    align-items: center;
}

.blog-header h1 {
    width: 50%;
}
.blog-header p {
    width: 50%;
}
.blog-posts {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.blog-post {
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.288);
}