/* Adjust main styles */
main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Contact heading */
main h1 {
  margin: 5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  height: auto;
  position: relative;
  display: block;
}


/* Contact buttons */
.contact-btns {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  width: 10rem;
}
.contact-btns button {
  width: 10rem;
  height: 3rem;
  border: 1px solid #e9f1f7;
  border-radius: 0.5rem;
  background-color: #131b23;
  margin: 1rem;
}
.contact-btns button:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
.contact-btns button a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 3rem;
  background-color: #131b23;
  color: #e9f1f7;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact-btns {
    display: flex;
    flex-direction: column;
  }
  main h1 {
    text-align: center;
    font-size: 2rem;
    width: 20rem;
  }
}
