main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  main {
    justify-content: flex-start;
    height: 70vh;
  }
  main h1 {
    margin-top: 5rem;
  }
}