/* Imports */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

/* Pseudo class to set variables */
:root {
  /* Color variables */
  --background-color: #131b23;
  --highlight-color: #f0c243;
  --text-color: #e9f1f7;
  /* Font variables */
  --main-font: "Cascadia Code", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

/* Global */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

h1 {
  font-size: 4rem;
  margin: 1rem;
}
.logo {
  z-index: 2;
}

/* Header + Nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  margin: auto;
  width: 90vw;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
}
.nav-btn {
  background-color: var(--background-color);
  
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--main-font);
  position: relative;
  cursor: pointer;
}
.nav-btn a {
    color: var(--text-color);
    text-decoration: none;
}
.nav-btn:hover::after {
    content: "";
    display: block;
    background-color: var(--highlight-color);
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.burger-menu-button {
  display: none;
  background-color: transparent;
  border: none;
  filter: invert(1);
  cursor: pointer;
  z-index: 2;
}
.burger-menu-button img {
  width: 2rem;
  margin: 0;
}
.burger-menu-button img:hover {
  width: 2.2rem;
  margin: 0;
  transition: width 150ms ease-out;
}

.mobile-nav-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 1;
  transition: opacity 0.5s ease-out;
}
.mobile-nav-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  transform: translateY(50%);
}
.mobile-nav-menu button {
  background-color: var(--background-color);
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--main-font);
  position: relative;
  cursor: pointer;
}
.mobile-nav-btn a {
  color: var(--text-color);
  text-decoration: none;
}


/* Animation keyframes for pseudoelement on nav bar buttons */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


/* Contact button */
.contact-btn {
  background-color: var(--highlight-color);
  border-radius: 8px;
  margin-top: 2rem;
  padding: 1rem;
  width: 16rem;
}
.contact-btn a {
    font-size: 1.5rem;
    font-style: bold;
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--text-color);
}


/* Footer */
.footer {
  position: relative;
  z-index: 2;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.footer ul li {
  margin: 0.5rem;
}

.footer img {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
}


/* Responsive media queries */

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .nav-bar {
      display: none;
  }
  .burger-menu-button {
    display: block;
  }
  .contact-btn {
    text-align: center;
    background-color: var(--highlight-color);
    border-radius: 8px;
    padding: 1rem;
    width: 10rem;
    margin: auto;
  }
  .contact-btn a {
      font-size: 1.2rem;
      font-style: bold;
      font-family: var(--main-font);
      text-decoration: none;
      color: var(--text-color);
  }
}