/* Imports */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

/* Pseudo class to set variables */
:root {
  /* Color variables */
  --background-color: #131b23;
  --highlight-color: #f0c243;
  --highlight-color2: #f0c243;
  --text-color: #e9f1f7;
  /* Font variables */
  --main-font: "Cascadia Code", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

/* Global */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Main content formatting */
main {
  display: flex;
  margin: auto;
  max-width: 1200px;
  height: 80vh;
  width: 80vw;
}

h1 {
  font-size: 4rem;
  margin: 1rem;
}

/* AZ Logo styling */
.logo {
  z-index: 2;
}
.logo:hover {
  animation: wobble 350ms ease-out;
}
.logo a {
  text-decoration: none;
  color: inherit;
}



/* Header + Nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  margin: auto;
  width: 90vw;
  justify-self: flex-start;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
}
.nav-btn {
  background-color: var(--background-color);
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--main-font);
  position: relative;
  cursor: pointer;
}
.nav-btn a {
  color: var(--text-color);
  text-decoration: none;
}
.nav-btn:hover::after {
  content: "";
  display: block;
  background-color: var(--highlight-color);
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  position: absolute;
  top: 80%;
  left: 50%;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  z-index: 3;
}

/* Mobile button */
.burger-menu-button {
  display: none;
  background-color: transparent;
  border: none;
  filter: invert(1);
  cursor: pointer;
  z-index: 2;
}
/* Mobile button icon */
.burger-menu-button img {
  width: 2rem;
  margin: 0;
}
.burger-menu-button img:hover {
  width: 2.2rem;
  margin: 0;
  transition: width 150ms ease-out;
}
.mobile-nav-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 1;
  transition: opacity 0.5s ease-out;
}
.mobile-nav-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  transform: translateY(50%);
}
.mobile-nav-menu button {
  background-color: var(--background-color);
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--main-font);
  position: relative;
  cursor: pointer;
}
.mobile-nav-btn a {
  color: var(--text-color);
  text-decoration: none;
}



/* Contact button */
.contact-btn {
  background-color: var(--highlight-color);
  border-radius: 8px;
  margin-top: 2rem;
  padding: 1rem;
  width: 16rem;
  position: relative;
}
.contact-btn:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
.contact-btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-style: bold;
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--text-color);
}
.contact-btn:hover::after {
  content: "";
  display: block;
  background-color: white;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: 2;
  animation: swoosh 300ms ease forwards;
}
.contact-btn.work-btn {
  background-color: var(--highlight-color2);
}

/* Coloured gradient layer */
.gradient-anim {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    270deg,
    rgb(226, 40, 40) 0%,
    rgb(213, 255, 28) 100%
  );
  margin-top: 1rem;
  position: absolute;
  mix-blend-mode: darken;
  z-index: 3;
  top: -1rem;
  left: 0rem;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

/* Footer */
.footer {
  position: relative;
  z-index: 2;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.footer ul li {
  margin: 0.5rem;
}
.footer img {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
}
.footer-contact-details {
  text-align: center;
}

/* Animations */
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(8deg);
  }
  40% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Keyframes for button shine */
@keyframes swoosh {
  0% {
    transform: translateX(1rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(15rem);
    opacity: 0;
  }
}

/* Keyframes for pseudoelement on navbar buttons */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive media queries */

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .nav-bar {
    display: none;
  }
  .burger-menu-button {
    display: block;
  }
  .contact-btn {
    text-align: center;
    background-color: var(--highlight-color);
    border-radius: 8px;
    padding: 1rem;
    width: 10rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .contact-btn a {
    font-size: 1.2rem;
    font-style: bold;
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--text-color);
  }

  /* Keyframes for button shine */
  @keyframes swoosh {
    0% {
      transform: translateX(1rem);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(9rem);
      opacity: 0;
    }
  }
}



