main {
  display: flex;
  margin: auto;
  width: 80vw;
  height: 80vh;
  text-align: left;
}

.text-content {
  width: 50%;
  margin-top: 2.8rem;
}
.text-content h1 {
  margin-left: 0;
}
.text-content p {
  margin-right: 4rem;
}

.project-gallery {
  flex-direction: column;
}
.project-gallery ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  margin-top: 7.5rem;
  list-style-type: none;
}
.project-gallery li {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.288);
  margin-bottom: .5rem;
  width: 30rem;
  padding: .5rem 0 0 .5rem;
}
.project-gallery img {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  margin: 0.5rem;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  align-items: flex-start;
  margin-left: 1rem;
}
.project-info h4 {
    margin-bottom: 0;
}
.project-info p {
  margin: 1rem;
  margin-left: 0;
}
.project-links {
  display: flex;
  filter: invert(1);
}
.project-links a {
  margin: 1rem;
}
.project-links img {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  }
  .text-content h1 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3rem;
  }
  .text-content {
    width: 100%;
    margin-top: 1rem;
  }
  .text-content p {
    margin-bottom: 2rem;
    margin-right: 0;
    margin-left: 1rem;
  }
  .images {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
  }
  .contact-btn {
    display: none;
  }
  .project-gallery {
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .project-gallery ul {
    margin-top: 0;
  }
}
